@model Banking.Application.Models.UserProfile

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditUser</title>
</head>
<body>
    <div>
        <h2>Edit User</h2>
    </div>
    <div>
        <span>@Model.UserName</span>
    </div>
</body>
</html>
