@using Banking.Application.Web.ViewModels;
@model AccountDetailsViewModel

@{
    ViewBag.Title = "Account Details";   
}

<h2>Account Details</h2>

<div>
    @{
        if (Model != null)
        {
            Html.RenderPartial("~/Application/Web/Views/Common/_AccountInformation.cshtml", new List<AccountViewModel> { Model.Account });
        }
    }
</div>

<br/>
@{
    if (Model != null)
    {
        using (Html.BeginForm("AccountStatement", "Customer"))
        {
            @Html.AntiForgeryToken()

            Html.RenderPartial("~/Application/Web/Views/Common/_RequestStatement.cshtml", new RequestStatementViewModel { AccountId = Model.Account.AccountId, From = DateTime.Now, To = DateTime.Now });
            
            <input type="submit" value="View Statement" />
        }
    }
}

<br />
@Html.ActionLink("Back", "Home", "Customer")

@section Scripts{
    <script type="text/javascript" >

        $(document).ready(function() {
            $('#From').datepicker({ dateFormat: "mm/dd/yy" });
            $('#To').datepicker({ dateFormat: "mm/dd/yy" });
        });
    </script>
}
