
<h2>Open New Investment Account</h2>
<br />
@using (Html.BeginForm("CreateInvestmentAccount", "Customer"))
{
    <div>
        @Html.Label("Select Account Type")
        @Html.DropDownList("accountType", 
            new SelectList((IEnumerable<SelectListItem>)ViewBag.AccountTypesList, "Value", "Text"), 
            new Dictionary<string, object>{{"class", "select-list"}})
    </div>
    
    <div>
        <input type="submit" value="Create Account"/>
    </div>
}
<br />
@Html.ActionLink("Back", "Home", "Customer")