@model Banking.ViewModels.CustomerSummary

@{
    ViewBag.Title = "CustomerSummary";
}

<h2>CustomerSummary</h2>

<span>@Model.FirstName</span>
<span>@Model.LastName</span>

<div>@{ Html.RenderPartial("~/Views/Common/_Address.cshtml", Model.CurrentAddress); }</div>

<h3>Accounts</h3>

@foreach (var account in Model.Accounts)
{
    Html.RenderPartial("~/Application/Web/Views/BankAccount/_AccountInformation.cshtml", account);
}


