@using Banking.Application.Web.ViewModels; 
@model CustomerPersonalInformation

@using (Html.BeginForm("EditPersonalInfo", "Customer"))
{
    @Html.AntiForgeryToken()

    <h2>Personal Information</h2>

    Html.RenderPartial("~/Application/Web/Views/Common/_PersonalInformation.cshtml", Model);
   
    <input type="submit" value="Save"/>
}

<br />
@Html.ActionLink("Back", "Home", "Customer")