@model Banking.Application.Web.ViewModels.AddressViewModel

@using (Html.BeginForm("EditAddress", "Customer"))
{
    @Html.AntiForgeryToken()

    <h2>Address</h2>
    
    Html.RenderPartial("~/Application/Web/Views/Common/_Address.cshtml", Model);
    
    <input type="submit" value="Save" formmethod="post"/>
}

<br />
@Html.ActionLink("Back", "Home", "Customer")