@using Banking.Application.Web.ViewModels;
@model AccountDetailsViewModel

@{
    ViewBag.Title = "Account Details";   
}

<h2>Account Details</h2>

<div>
    @{
        if (Model != null)
        {
            Html.RenderPartial("_AccountInformation", new List<AccountViewModel> { Model.Account });
        }
    }
</div>

<br/>
@{
    if (Model != null)
    {
        Html.RenderPartial("_RequestStatement", 
        new RequestStatementViewModel
            {
                AccountId = Model.Account.AccountId,
                From = DateTime.Now,
                To = DateTime.Now
            });
    }
}

<br />
@Html.ActionLink("Back", "CustomerSummary")

@section Scripts{
    <script type="text/javascript" >

        $(document).ready(function() {
            $('#From').datepicker({ dateFormat: "mm/dd/yy" });
            $('#To').datepicker({ dateFormat: "mm/dd/yy" });
        });
    </script>
}
