@using Banking.Application.Web.ViewModels;
@model AccountDetailsViewModel

@{
    ViewBag.Title = "Account Details";   
}

<h2>Account Details</h2>

<div>
    @{
        Html.RenderPartial("_AccountInformation", new List<AccountViewModel> { Model.Account });
    }
</div>

<h3>Transactions</h3>
    @{
        Html.RenderPartial("_TransactionInformation", Model.Transactions);
    }

<br />
@Html.ActionLink("Back", "CustomerSummary")
