@using System.Collections.Specialized

<h2>Open New Bank Account</h2>
<br />
@using (Html.BeginForm())
{
    <div>
        @Html.Label("Select Account Type")
        @Html.DropDownList("accountType", (SelectList)ViewBag.AccountTypesList, new Dictionary<string, object>{{"class", "select-list"}})

    </div>
    
    <div>
        <input type="submit" value="Create Account"/>
    </div>
}
<br />
@Html.ActionLink("Back", "CustomerSummary", "Teller")