@model Banking.Application.Web.ViewModels.AddressViewModel

@using (Html.BeginForm("CreateCustomerStep3", "Teller"))
{
    @Html.AntiForgeryToken()

    <h2>Address</h2>
    
    Html.RenderPartial("~/Application/Web/Views/Common/_Address.cshtml", Model);
    
    <input type="submit" value="Save" formmethod="post"/>
}