@model Banking.Application.Web.ViewModels.CustomerPersonalInformation

@using (Html.BeginForm("CreateCustomerStep2", "Teller"))
{
    @Html.AntiForgeryToken()

    <h2>Personal Information</h2>

    Html.RenderPartial("_PersonalInformation", Model);

    <input type="submit" value="Save" formmethod="post"/>
}