@model Banking.Application.Web.ViewModels.CustomerSummary

@{
    ViewBag.Title = "Customer Summary";
}

<h2>Customer Summary</h2>


@if (Model != null)
{
    <div>
        <span>Customer: @Model.FirstName </span>
    </div>   
    foreach (var account in Model.Accounts)
    {
        Html.RenderPartial("~/Application/Web/Views/Teller/_AccountInformation.cshtml", account);
    }
    
    Html.RenderPartial("~/Application/Web/Views/Common/_Address.cshtml", @Model.CurrentAddress);
}