@model Banking.Application.Web.ViewModels.CustomerSummary

@{
    ViewBag.Title = "Customer Summary";
}

<h2>Customer Summary</h2>


@if (Model != null)
{
    <div>
        <div>Personal Information:</div>
        <span>@Model.FirstName + " " + @Model.LastName </span>
    </div>   
    
    <span>Accounts:</span>
    
    foreach (var account in Model.Accounts)
    {
        Html.RenderPartial("~/Application/Web/Views/Teller/_AccountInformation.cshtml", account);
    }
    
    Html.RenderPartial("~/Application/Web/Views/Common/_Address.cshtml", @Model.CurrentAddress);
}

<div>
    @Html.ActionLink("Open Account", "CreateBankAccount", "Teller")
</div>
