@model Banking.Application.Web.ViewModels.AddressViewModel

@using (Html.BeginForm("EditAddress", "Teller"))
{
    @Html.AntiForgeryToken()

    <h2>Address</h2>
    
    Html.RenderPartial("_Address", Model);
    
    <input type="submit" value="Save" formmethod="post"/>
}

<br />
@Html.ActionLink("Back", "CustomerSummary", "Teller")