
@{
    ViewBag.Title = "Teller Home";
}

<h2>Teller Home</h2>

<div>

    @using (Html.BeginForm("SearchResults", "Teller"))
    {
        @Html.DropDownList(
            "searchType", 
            new SelectList (
                (IEnumerable<SelectListItem>)ViewBag.SearchType, "Value", "Text"),
                new Dictionary<string, object>{{"class", "select-list"}})
        
        <br />
        <input type="text" name="searchField"/>
        <br />
        <input type="submit" value="Find Customer" name="view" formmethod="get"/>
    }
    
    @Html.ActionLink("Create Customer", "CreateCustomerStep1")
    
</div>


